/.web-server-pid
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/*
/vendor/friendsofsymfony/*
/vendor/friendsofsymfony/user-bundle/*
/vendor/friendsofsymfony/user-bundle/Controller/*
!/vendor/friendsofsymfony/user-bundle/Controller/RegistrationController.php
/web/bundles/
/nbproject/