<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form" action="{{ path("fos_user_security_check") }}" method="post">
				<span class="login100-form-title p-b-26">
					Bienvenue
				</span>
				<span class="login100-form-title p-b-48">
					<img src="{{ asset('images/RDV-Online.png') }}" height="110" width="110" alt="RdvEnLigne"/>
				</span>

				<div class="wrap-input100 validate-input">
					<input type="text" id="username" name="_username" class="input100" value="{{ last_username }}" required="required" autocomplete="username" />
					<span class="focus-input100" data-placeholder="Identifiant"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Entrez votre mot de passe">
					<span class="btn-show-pass">
						<i class="zmdi zmdi-eye"></i>
					</span>
					<input type="password" id="password" name="_password" class="input100" required="required" autocomplete="current-password" />
					<span class="focus-input100" data-placeholder="Mot de passe"></span>
				</div>

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							Connexion
						</button>
					</div>
				</div>

				<div class="text-center p-t-115">
					<span class="txt1">
						Pas de compte ?
					</span>

					<a class="txt2" href="{{ path('fos_user_registration_register') }}">
						Inscrivez vous
					</a>
				</div>
			</form>
		</div>
	</div>
</div>